# Universal Headless E-Commerce CMS Endpoint
NEXT_PUBLIC_CMS_API_URL=http://localhost:4000

# Storefront Public Scoped API Key
NEXT_PUBLIC_CMS_API_KEY=pk_live_jq_trends_2026

# Fallback Development Store Tenant ID
NEXT_PUBLIC_DEFAULT_TENANT=store_jq_trends

# Storefront Host Domain
NEXT_PUBLIC_STORE_DOMAIN=localhost:3005
